$font-size-default: 10px;
$font-size-h1: 3.5rem;
$font-size-body: 1.6rem;
$font-size-list: 1.3rem;
$font-size-number: 2.8rem;
$font-size-count: 1.8rem;

$font-family-default: 'Pacifico', Verdana, cursive;
$font-family-body: sans-serif;

$color-main: #fff;
$color-main-light: #faec9b;
$color-main-darker: #f7e477;
$color-main-dark: #d6c358;
$color-pink-dark: #d10d44;
$color-pink-darker: #8a082d;
$color-green-extra-light: #22b576;
$color-green-dark: #045916;
$color-grey: #888;
$color-grey-dark: #333;
$color-grey-darker: #1a1919;

$color-selected-item: rgba(39, 35, 56, 0.5);
$color-hover-item: #564991;

$min-width-block: 16rem;
$min-width-list: 28rem;
$max-height-list: 70rem;

$width-flag: 2.2rem;

$tablet-width: 1040px;
$font-size-tablet: 9px;

$tablet-width1: 935px;
$font-size-tablet1: 8px;

$tablet-width2: 835px;
$font-size-tablet2: 7px;

$mobile-width: 735px;
$font-size-mobile: 6px;

$mobile-width1: 635px;
$font-size-mobile1: 4.8px;