$font-size-default: 10px;
$font-size-h1: 4rem;
$font-size-body: 2rem;
$font-size-number: 3.5rem;
$font-size-count: 2.5rem;

$font-family-default: 'Pacifico', Verdana, cursive;
$font-family-body: sans-serif;

$color-main: #fff;
$color-main-light: #faec9b;
$color-main-darker: #f7e477;
$color-main-dark: #d6c358;
$color-pink-dark: #d10d44;
$color-pink-darker: #8a082d;
$color-green-extra-light: #22b576;
$color-green-dark: #045916;
$color-grey: #888;
$color-grey-dark: #333;
$color-grey-darker: #1a1919;

$min-width-list: 20rem;

$tablet-width: 800px;