.graph {
  width: 76rem;
  height: 17rem;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
  margin: 1rem;
  #chart {
    align-content: center;
    background-color: $color-grey-dark;
    color: black;
  }
  .btn-wrapper {
    background-color: $color-grey-dark;
    margin: 0;
  }
}

