.container {
  width: 76rem;
  height: 45rem;
  margin-left: 1.2rem;
  background-color: $color-grey-dark;
  display: flex;
  flex-direction: column;
  position: relative;
}

#map {
  width: 74rem;
  height: 43rem;
  margin: auto auto -2rem auto;
  align-content: center;
  background-color: $color-grey-dark;
  color: black;
}

.legend {
  background-color: $color-grey;
  font-color: $color-main-light;
  padding: 0.5rem;
  box-shadow: inset 0 0 0.6rem black;
}