.header {
  background: $color-grey-dark;
  color: $color-main-darker;
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;

  img {
    width: 5rem;
    height: 5rem;
  }
}

.day {
  padding-right: 5rem;
  color: $color-green-extra-light;
}