.main {
  display: flex;
  justify-content: center;
  padding: 1rem 0.5rem;
  margin: 0.1rem auto;
  color: $color-main-darker;
  font-family: $font-family-body;
}
.dashboard {
  .infoData {
    display: flex;
  }
}

.cases, .death, .recovery, .map, .graph {
  margin: 1rem;
  padding: 1rem;
  background-color: $color-grey-dark;
  text-align: center;
}

.cases, .death, .recovery {
  min-width: $min-width-block;
}

.options {
  margin: 0.8rem;
  padding: 0.5rem 0.5rem;
  background-color: $color-grey-dark;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cases-count, .death-count, .recovery-count {
  font-size: $font-size-number;
  color: $color-pink-dark;
  font-weight: bold;

  &:hover {
    transform: scale(1.2);
    color: $color-pink-darker;
  }
}
